<html>
<table id="user-repair-list" class="table table-striped signed-in-view">
{{#each repairs as |repair|}}

  <!-- Developers, why are we using data-id and not just i d?-->
<tr>
  <td class='repairs-list' data-id="{{repair.id}}">
    <td><button repairId="{{repair.id}}" type="click" class="btn btn-primary update-repair-button">Update</button></td>
    <td><button repairId="{{repair.id}}" type="click" class="btn btn-danger delete-repair-button">Delete</button></td>
  </tr>
{{/each}}
</table>
</html>
