    <form id="update-repair">
      <input type="text" name="repair[id]" placeholder="Enter Repair Id" class="repairId">
      <input type="text" name="repair[year]" placeholder="Car Year">
      <input type="text" name="repair[make]" placeholder="Car Make">
      <input type="text" name="repair[model]" placeholder="Car Model">
      <input type="text" name="repair[repairname]" placeholder="Name of Repair?">
      <input type="text" name="repair[repaircost]" placeholder="Repair Cost?">
      <input class="btn btn-primary" type="submit" name="submit" value="Update Repair">
    </form>
