$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.repairs-list {
    dd {
      display: inline-block;
    }
    dt {
      display: inline-block;
    }
}

h1, #content, #sign-up, #sign-in, #change-password, #sign-out, #create-repair, #delete-repair, #update-repair, #messageBanner {
  text-align: center;
}

.hide-elements {
  display: none;
}
